<div class="row">
    <table class="table">
        <tr>
            <th style="width: 30%;">Product Name</th>
            <th style="width: 40%;">Active roles</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let receipie of receipies">
            <td>{{receipie.name}}</td>
            <td>{{receipie.stocks}}</td>
            <td><button class="btn btn-info">Edit Roles</button></td>
        </tr>
    </table>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th style="width: 30%;">Product Name</th>
            <th style="width: 40%;">Active roles</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let receipie of receipies">
            <td>{{receipie.name}}</td>
            <td>{{receipie.stocks}}</td>
            <td><button class="btn btn-info">Edit Roles</button></td>
        </tr>
    </table>
</div>
