.container {
    width: 90vw;
    max-width: 795px;
    background: var(--clr-white);
    border-radius: var(--radius);
    margin: 6rem auto;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }